
/* Variables */
$green: #28a745;
$green-dark: #106e26;
$green-font: #12802b;
$green-font-hover: #28b349;
$green-font-light: #1ada47;
$green-font-light-hover: #06fa3f;

$blue: #007bff;
$blue-dark: #0056b3;
$blue-font: #0a84ff;
$blue-font-hover: #1e9eff;
$blue-font-light: #1f9eff;
$blue-font-light-hover: #0a84ff;


$danger: #da0202;
$danger-hover: #f70505;
$grayish: #6c757d;
$dark-gray: #606264;
$background: #f8f9fa;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
