@use 'sass:color';

/* Variables */
$green: #28a745;
$green-dark: #106e26;
$green-font: #12802b;
$green-font-hover: #28b349;
$green-font-light: #1ada47;
$green-font-light-hover: #06fa3f;


$danger: #da0202;
$danger-hover: #f70505;
$grayish: #6c757d;
$dark-gray: #606264;
$background: #f8f9fa;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: darken($green, 5%);
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-family: $font-secondary;
  text-transform: uppercase;
  
  h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
  }
}

/* Main Content */
main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Container */
.container {
  margin-top: 20px;
}

/* Download Button */
// .download-btn {
//   background-color: $green;
//   color: white;
//   font-family: $font-secondary;
//   font-size: 1.2rem;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

// .download-btn:hover {
//   // background-color: darken($green, 10%);
//   background-color: color.scale($green, $lightness: -10%); // #002447
// }

/* Hidden Class */
.hidden {
  display: none !important;
}

/* Text Message */
.container p {
  font-family: $font-primary;
  color: $grayish;
  margin: 15px 0;
}

// Completion Wheel, when downloading shows a ring that fills up from 0% to 100% depending on the percentage of the download

#completion-wheel {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
  background: conic-gradient(#4CAF50 0%, #ddd 0%);
  transition: $background 0.5s ease-in-out;
}

#completion-wheel.hidden {
  display: none;
}

// Progress Text, shows the percentage of the download, in the format of "X mb of Y mb", this can be mb, kb, or gb
#progress-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #333;
  margin-top: 10px;
  font-size: 14px;
}

#progress-text.hidden {
  display: none;
}

#download-queue, #video-list {
  list-style: none;
}

#download-queue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0;
  
  .download-queue-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;

    span {
      color: $green-font;
      font-size: 1.2rem;
      cursor: none;
    }

    button {
      color: white;
      border-radius: 8px;
      background-color: $danger;
      border: none;
    }

    button:hover {
      background-color: $danger-hover;
    }
  }
}

button {
  padding: 4px 8px;
  font-size: 1.2rem;
}

.button-transparent {
  background-color: transparent;
  border: none;
}

.text-clickable-green {
  color: $green-font;
  cursor: pointer;
}

.text-clickable-green:hover {
  color: $green-font-hover;
}

footer {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.1rem;
  background-color: $dark-gray;
  color: white;
  a {
    font-weight: 500;
    color: $green-font-light;
    text-decoration: none;
  }

  a:hover {
    color: $green-font-light-hover;
    text-decoration: underline;
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
