.video-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;

    .list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        // gap: 10px;
    }

    .list-item-title {
        flex-grow: 1;
        text-align: left;
        height: 100%;
    }
}

#playlist {
    .list-item-title {
        cursor: pointer;
    }
}