

<div class="container">
    <!-- Download Button -->
    <button id="download-btn" class="download-btn">
        Download Video
    </button>

    <p id="message" class="hidden">{{ message }}</p>
    <!-- Animation Placeholder -->
    <div id="animation-placeholder" class="animation-placeholder hidden">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <!-- Progress Wheel -->
    <div id="completion-wheel" class="completion-wheel hidden"></div>

    <!-- progress text -->
    <p id="progress-text" class="progress-text hidden"></p>

</div>

<script src="/js/ui-worker-helper.js"></script>