<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX Web Worker Example</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <header>
      <h1>HTMX with Node.js and Express</h1>
      <p>
        This is a tech demonstration of the web worker API in the browser. It has a button to download a file and has a background worker using the fetch API, and another web worker to display a fill wheel animation.
      </p>
    </header>
    
    <main>