<%- header %>

<div class="container">

    <!-- make a video widget -->
    <div id="video-player-widget" class="">
        <video id="video-player" class="" width="500" type="video/mp4" src="/stream/canada.mp4"></video>
        <div id="video-player-controls" class="">
            <button id="play-pause-btn" class="button-transparent text-clickable-green" aria-label="play-pause-button">Play</button>
            <div>
                <input id="seek-bar" class="" type="range" value="0" min="0" aria-label="seek-bar">
                <div id="progress-bar-download-buffer"></div>
            </div>
            <button id="mute-btn" class="button-transparent text-clickable-green" aria-label="mute-button">Mute</button>
            <input id="volume-bar" class="" type="range" min="0" max="1" step="0.1" value="1" aria-label="volume-bar">
            <button id="full-screen-btn" class="button-transparent text-clickable-green" aria-label="full-screen-button">Full-Screen</button>
        </div>

        <!-- a spinning wheel to show the data is loading -->
        <div id="player-loading-wheel" class="hidden">Data Wheel here</div>

        <!-- show an error messaage icon on stalled event -->
        <div id="player-error-icon" class="hidden">Error Icon here</div>
    </div>

    <!-- a list of transparent buttons with green text -->
    <h2 class="video-list-title">Video List</h2>
    <ul id="video-list" class="video-list">
        <% videosList.forEach(video => { %>
            <li class="video-list-item">
                <button class="video-list-item-btn button-transparent text-clickable-green" data-video="<%= video %>"> <!-- data-video is the name of the video, these data attributes are used to store custom data using semantic HTML, with this we will build the list back on the client side web worker -->
                    <%= video %>
                </button>
            </li>
        <% }) %>
    </ul>

    <!-- list for the download queue -->
    <h2 id="download-queue-title" class="download-queue-title hidden">Download Queue</h2>
    <ul id="download-queue" class="download-queue"></ul>

    <p id="message" class="hidden">{{ message }}</p>

    <!-- Progress Wheel -->
    <div id="completion-wheel" class="completion-wheel hidden"></div>

    <!-- progress text -->
    <p id="progress-text" class="progress-text hidden"></p>

</div>

<script src="/js/player-elements.js" type="module"></script>
<script src="/js/ui-worker-helper.js" type="module"></script>


<%- footer %>
